html{
    height:100%;
    min-height:100%;
}
body{
    background: black;

}
.titlePage {
    
    text-align: center;
    font: 200 50px/1.3 'Great Vibes', Helvetica, sans-serif;
    color: HSL(347, 65%, 23.5%);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.articles{
    color: #000;
    line-height: 1.25em;
    text-align: justify;

    text-indent: 2.5em;
    background:hsla(347, 65%, 24%, 0.44);
}
.allPost{
    background: hsla(347, 65%, 24%, 0.44);

}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.pArticleBody{
    color: beige;
    font-size: 1em;
    line-height: 1.25em;
    text-align: justify;

    text-indent: 2.5em;
    background: hsla(347, 65%, 24%, 0.44);

    border: #aad4e5 0px;

}
.subtitle{
    text-align: center;
    font: 200 50px/1.3 'Great Vibes', Helvetica, sans-serif;
    color: HSL(347, 65%, 23.5%);
        

    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 


}
.blog{
    text-align: center;
    font: 100 38px/1.3 'Great Vibes', Helvetica, sans-serif;
    color:rgb(255, 186, 201);
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
    bottom: 0px;
    top: 470px;
    left: 0px;
}
.navbar-inverse .navbar-nav>li>a{
    color:white;
}
/*.dropdown{
    margin-top: 15px;
    
}*/
.me{
    margin-left: 15px;
    /*    text-transform: uppercase;*/
    /*    text-shadow: 1px 1px 1px #000;*/
    color: #fff;
    font-size: 24px;
    float: left;
    border-bottom:1px solid rgba(221, 221, 221, 0);
    margin-left: 0px;
    margin-top: 0px;
    width: 170px;
    /*height: 85px;*/
    z-index: 12;
    background: transparent url(../images/overlay.png) no-repeat bottom right;
    -moz-box-shadow: 0px 0px 2px #000 inset;
    -webkit-box-shadow: 0px 0px 2px #000 inset;
    box-shadow: 0px 0px 2px #000 inset;

}

.labelColor{
       color:  HSL(347, 65%, 23.5%);

}
.white{
    color: white;
}
.btn-color{
   background:  HSL(347, 65%, 23.5%);
}
.btn-h1-spacing{
    margin-top: 18px;
}

.form-spacing-top{
    margin-top: 30px;
}
*{
    margin: 0;
    padding: 0;
}

.background-wrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

.video-bg-elem1 {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 110%;
    min-height: 100%;

}
.hid {
    display: none;
}

.comment {
    margin-bottom: 45px;
    color: white;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.author-name {
    float:left;
    margin-left: 15px;
    color: white;
}

.author-name>h4 {
    margin: 5px 0px;
}

.author-name>p {
    font-size: 11px;
    font-style: italic;
    color: white;
}

.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
    color:white;
}

.comment-count {
    margin-bottom: 45px;
    color:white;
}

.backend-comments {
    margin-top: 50px;
    color: white;
}

#a01 {
    height: 35px;

}

.wrappers {
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 22px;
    opacity: 0.8;
}

.wrappersC {
    padding: 15px;
    margin-bottom: 20px;
    background: hsla(347, 65%, 24%, 0.44);
    border-radius: 22px;
    opacity: 0.8;
}